---
layout: archive
title: "Press"
permalink: /press/
author_profile: false
---
<h1>
How Facebook has become a political battleground in Bangladesh </h1>
<p> In our research collaboration with the Tech Global Institue
  we analyzed nearly half a million pieces of content that resulted in 98 million interactions on Facebook, 
  to understand how political parties in Bangladesh are leveraging sophisticated information networks on 
  social media to disseminate their messages ahead of the country’s national election. </p>
Link to the <a href = "https://techglobalinstitute.com/research/facebook-political-battleground-bangladesh/"> report </a>
{% include base_path %}
{% for post in site.pages %}
  {% include archive-single.html %}
{% endfor %}
